{% extends 'base.html' %}
{% load jalali_tags %}
{% block title %} Sweater | سوییتر {% endblock %}

{% block header %} سوییت ها {% endblock %}
{% block content %}
    {% if sweats != None %}
        {% for sweat in sweats %}
            <div class="sweat-card">
                <div class="box-element">
                    <h3>{{ sweat.title }}</h3>
                    <hr>
                    <br>
                    <p>{{ sweat.text|safe }}</p>
                    <div class="end-sweat">
                        <a onclick="like();"><i id="like" class="fa fa-heart-o"></i></a><span id="count"> 1 </span>
                        <a onclick="like();"><i id="like" class="fa fa-heart"></i></a><span id="count"> 1 </span>
                        <br>
                        <small>{{ sweat.created_at|to_jalali:'%Y/%m/%d - %H:%M:%S' }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="text text-center">

                {% if sweats.has_other_pages %}
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            {% if sweats.has_previous %}
                                <li class=" page-item">
                                    <a class="page-link" href="?page={{ sweats.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">قبلی</a>
                                </li>
                            {% else %}
                                <li class="page-item  disabled">
                                    <a class="page-link" href="#">قبلی</a>
                                </li>
                            {% endif %}
                            {% for i in sweats.paginator.page_range %}

                                {% if sweats.number == i %}
                                    <li class="page-item active ">
                                        <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                            {% if sweats.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ sweats.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">بعدی</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#">بعدی</a>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
    {% else %}
        <div class="container">
            <div class="text text-center">
                <h1>< no sweats yet ></h1>
            </div>
        </div>
    {% endif %}
{% endblock %}
