body {
    position: relative;
}

.sweat-align {
    text-align: right;
}

.box-element {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: #BBBFCA 0 0 20px;
    padding: 10px;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #121212;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: rgb(230, 231, 240);
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #1f1b24;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.about {
    direction: rtl;
    margin: 50px;
    padding-left: 20%;
    font-size: 14pt;
    word-break: break-word;
}

.last-update {
    margin: 20px 20px 10px 10px;
}

